body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.blob-bg {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FEE2E2' d='M44.7,-76.4C58.9,-69.2,71.8,-59.1,81.6,-46.6C91.4,-34.1,98.1,-19.2,95.8,-4.9C93.5,9.4,82.2,23.1,71.2,35.1C60.2,47.1,49.5,57.4,37.2,64.3C24.9,71.2,11,74.7,-2.3,78.7C-15.6,82.7,-28.3,87.2,-39.8,83.9C-51.3,80.6,-61.6,69.5,-70.6,56.8C-79.6,44.1,-87.3,29.8,-88.4,14.9C-89.5,0,-84,-15.5,-75.4,-28.6C-66.8,-41.7,-55.1,-52.4,-42.6,-60.3C-30.1,-68.2,-16.8,-73.3,-1.9,-70C13,-66.7,26,-55,44.7,-76.4Z' transform='translate(100 100)' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
}