{%- if section.blocks.size > 0 -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    #shopify-section-{{ section.id }} {
      {% if section.settings.remove_vertical_spacing %}--section-spacing-block: 0px;{% endif %}
      {% if section.settings.remove_horizontal_spacing %}--section-spacing-inline: 0px;{% endif %}
      --section-spacing-block: 0px;
      --section-spacing-inline: 0px;
    }

    #shopify-section-{{ section.id }} > * {
      padding: 0 !important;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 768px) {
      #shopify-section-{{ section.id }} > * {
        max-width: 100%;
        padding: 0 24px !important;
      }
    }
  </style>

  <div {% render 'section-properties' %}>
    {% content_for 'blocks' %}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Custom section",
  "class": "shopify-section--blocks",
  "tag": "section",
  "disabled_on": {
    "groups": ["custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_spacing",
      "label": "Remove vertical spacing",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_horizontal_spacing",
      "label": "Remove horizontal spacing",
      "default": false
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Custom section",
      "category": "Layout"
    }
  ]
}
{% endschema %}